a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
*{
font-size: 0;
}

main{
	width: 80vh;
	height: 80vh;
	margin: 20px auto;
	position: relative;
	border:25px solid #ab420e;
}

.series {
	position: absolute;
	height: 12.5%;
	right: 0;
	bottom: 0;
	left: 0;
}

.series:nth-child(1){
	top: 0;
	}

.series:nth-child(2){
	top: 12.5%;
	}

.series:nth-child(3){
	top: 25%;
}

.series:nth-child(4){
	top: 37.5%;
}

.series:nth-child(5){
	top: 50%;
}

.series:nth-child(6){
	top: 62.5%;
}

.series:nth-child(7){
	top: 75%;
}

.series:nth-child(8){
	top: 87.5%;
}

.column{
	position: absolute;
	width: 12.5%;
	top: 0;
	right: 0;
	bottom: 0;
}

.column:nth-child(1){
	left: 0;
	}

.column:nth-child(2){
	left: 12.5%;
	}

.column:nth-child(3){
	left: 25%;
	}

.column:nth-child(4){
	left: 37.5%;
	}

.column:nth-child(5){
	left: 50%;
	}

.column:nth-child(6){
	left: 62.5%;
	}
.column:nth-child(7){
	left: 75%;
	}

.column:nth-child(8){
	left: 87.5%;
	}

.series:nth-child(odd) .column:nth-child(odd),
.series:nth-child(even) .column:nth-child(even){
background: #dbbd6a;
}

.series:nth-child(odd) .column:nth-child(even),
.series:nth-child(even) .column:nth-child(odd){
background: #915325;
}


.series:nth-child(1) .column:nth-child(even):before,
.series:nth-child(2) .column:nth-child(odd):before,
.series:nth-child(3) .column:nth-child(even):before{
content: "";
position: absolute;
background: #312f2f;
height: 80%;
width: 80%;
margin: 10%;
border-radius: 50%;
border:2px solid #cccaca;
}

.series:nth-child(6) .column:nth-child(odd):before,
.series:nth-child(7) .column:nth-child(even):before,
.series:nth-child(8) .column:nth-child(odd):before{
content: "";
position: absolute;
background: #cccaca;
height: 80%;
width: 80%;
margin: 10%;
border-radius: 50%;
border:2px solid #312f2f;
}

.series:nth-child(1) .column:nth-child(even):hover:before,
.series:nth-child(2) .column:nth-child(odd):hover:before,
.series:nth-child(3) .column:nth-child(even):hover:before,
.series:nth-child(6) .column:nth-child(odd):hover:before,
.series:nth-child(7) .column:nth-child(even):hover:before,
.series:nth-child(8) .column:nth-child(odd):hover:before{
	box-shadow: 2px 2px 5px black;
	height: 90%;
	width: 90%;
	margin: 5%;
	}







